<button id="toggle">Start</button>

<script>

  $(function () {
    var world = new ThreeDeeWorld();
    $('#toggle').click(function() {
      if (world.toggle()) {
        $('#toggle').text('Stop');
      } else {
        $('#toggle').text('Start');
      }
    });
  });

</script>