<button id="auto_toggle">Start</button>

<button id="create_world">Create World</button>

<div id="info">
  <h1>Info</h1>
  <ol>
    <li>Plants: <span id="plant_count"></span></li>
    <li>Herbivores: <span id="herbivore_count"></span></li>
    <li>Carnivores: <span id="carnivore_count"></span></li>
  </ol>

  <div id="graph"></div>
</div>

<div id="tiles"></div>

<%= javascript_tag do %>
  $(function() {
    Alive.init();

    $('#create_world').click(function(){
      $.ajax({
        url:'/worlds',
        type:'post',
      });
    });
  });
<% end %>
