body {
  font-family: Helvetica, sans-serif;
}

.world {
  background: #ffcc00;
  margin: 20px auto;
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.tiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 2500px;
}

.tile {
  display: inline-block;
  position: relative;
  margin: 0 0 -4px;
}

.tile .entity {
  position:absolute;
  height: 12px;
  width: 12px;
  margin: 1px;
}

.tile .entity.old {
  height: 8px;
  width: 8px;
  border: 2px solid darkgray;
}

.tile .plant {
  background: #90ee90;
  height: 14px;
  width: 14px;
  margin: 0;
  z-index: 1;
}

.tile .herbivore {
  background: #d1b38b;
  z-index: 2;
}

.tile .carnivore {
  background: #bb0000;
  z-index: 2;
}

.buttons {
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px;
}

#info {
  position: fixed;
  right: 0;
  top: 0;
  width: 420px;
}

#info h1 {
  font-size: 1.2em;
}

#info ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#graph {
  height: 200px;
  width: 400px;
}
