body {
  font-family: Helvetica, sans-serif;
}

#tiles {
  margin: 20px auto;
  position: relative;
}

.tile {
  background: #ffcc00;
  position: absolute;
}

.tile.life {
  background: #006600;
}

.tile .plant {
  position:absolute;
  background: #90ee90;
  height: 4px;
  width: 4px;
  z-index: 1;
}

#info {
  position: fixed;
  right: 0;
  top: 0;
  width: 420px;
}

#info h1 {
  font-size: 1.2em;
}

#info ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#graph {
  height: 200px;
  width: 400px;
}